# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/
ENV/

# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Docker
*.log
*.pid
docker-compose.override.yml

# Pytest / coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Mac / Windows specific
*.swp
*.swo
*.bak
